<?xml version="1.0" encoding="UTF-8"?>

<configuration status="error">
    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{[%d{yyyy-MM-dd HH:mm:ss,SSS}]}{red}[%highlight{%-5p}][%t]%style{[%X{EagleEye-TraceID}]%c(%L):%m%n}{cyan}"/>
        </Console>

        <!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，
               则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->

        <RollingFile name="RollingFile" fileName="${sys:user.home}/logs/little-errand.log"
                     filePattern="${sys:user.home}/logs/stdout-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="INFO"/>
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}][%-5p][%t][%X{EagleEye-TraceID}]%c(%L):%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="64 MB"/>
            </Policies>
        </RollingFile>

    </appenders>

    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <root level="INFO">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
